body{
  background: linear-gradient(to right, #0062E6, #33AEFF);
  font-family:Arial, Helvetica, sans-serif
}

.priceTable{
  background-color: white;
  text-align: center;
  margin-top: 10px;
  border-radius: 15px;

}
.priceTable:hover{

  transition: 0.3s;
  margin-top: 5px;
}
.month{
  font-size: 15px;
  font-weight: lighter;
}
.plan{
  padding-top: 10px;
}
li{
  text-align: left;
  padding-top: 20px;
  padding-left: 35px;
  list-style: none;
}

.checkIcon{
  position: relative;
  top: 5px;
  right: 5px;
  
}
.button{
  margin-top: 20px;
  width: 80%;
  margin-bottom: 20px;
  border-radius: 35px;
  background-color: #33AEFF;
}

.priceTable:hover>.button{
  background-color: #006eff;
}
.priceTable:hover>.button:hover{
  background-color:#0365e4
}

.disabled{
  color: rgb(156, 156, 156);
}